/* Why Choose Us Section */
.whyChooseUs {
    display: flex;
    flex-direction: column;
  }
  
  .reasons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .reason {
    min-width: 200px;
    display: flex;
    margin: 20px 5%;
  }
  
  .reason-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  
  .reason i {
    margin: 0 40px 0 0;
  }
  
  .fa-check {
    color: #66cc91;
  }
  
  .fa-tag {
    color: royalblue;
  }
  
  .fa-sync-alt {
    color: orange;
  }
  
  .fa-user {
    color: mediumorchid;
  }
  
  .fa-clipboard-list {
    color: #ff6666;
  }
  
  .fa-thumbs-up {
    color: orangered;
  }
  
  /* Mobile Responsive Styles for Why Choose Us */
  @media (max-width: 768px) {
    .reason {
      width: 80%; /* Make reasons take more space on smaller screens */
      margin: 10px 0; /* Reduce margins */
    }
  
    .reason-text {
      margin-left: 5%; /* Reduce the left margin for better spacing */
    }
  
    .reason i {
      margin: 0 20px 0 0; /* Reduce icon margin for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .whyChooseUs {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .reasons {
      width: 100%; /* Take full width on mobile */
      flex-direction: column; /* Stack items vertically */
    }
  
    .reason {
      width: 100%; /* Make each reason item full width */
      margin: 10px 0; /* Stack reasons with spacing */
    }
  
    .reason-text {
      margin-left: 0; /* Remove margin on mobile */
    }
  }  

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }

  .footer a {
    color: var(--dark); /* Ensure the link color is consistent */
    text-decoration: none;
}

.footer a:hover {
    font-weight: bold;
}